<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[NO]</key>
	<string>h_buyao.png</string>
	<key>[doge]</key>
	<string>d_doge.png</string>
	<key>[good]</key>
	<string>h_good.png</string>
	<key>[haha]</key>
	<string>h_haha.png</string>
	<key>[hold住]</key>
	<string>lxh_holdzhu.png</string>
	<key>[ok]</key>
	<string>h_ok.png</string>
	<key>[下雨]</key>
	<string>w_xiayu.png</string>
	<key>[不好意思]</key>
	<string>lxh_buhaoyisi.png</string>
	<key>[不想上班]</key>
	<string>lxh_buxiangshangban.png</string>
	<key>[丘比特]</key>
	<string>lxh_qiubite.png</string>
	<key>[互相膜拜]</key>
	<string>lxh_xianghumobai.png</string>
	<key>[互粉]</key>
	<string>f_hufen.png</string>
	<key>[亲亲]</key>
	<string>d_qinqin.png</string>
	<key>[伤心]</key>
	<string>l_shangxin.png</string>
	<key>[作揖]</key>
	<string>h_zuoyi.png</string>
	<key>[偷乐]</key>
	<string>lxh_toule.png</string>
	<key>[偷笑]</key>
	<string>d_touxiao.png</string>
	<key>[傻眼]</key>
	<string>d_shayan.png</string>
	<key>[兔子]</key>
	<string>d_tuzi.png</string>
	<key>[别烦我]</key>
	<string>lxh_biefanwo.png</string>
	<key>[可怜]</key>
	<string>d_kelian.png</string>
	<key>[可爱]</key>
	<string>d_keai.png</string>
	<key>[右哼哼]</key>
	<string>d_youhengheng.png</string>
	<key>[吃惊]</key>
	<string>d_chijing.png</string>
	<key>[吐]</key>
	<string>d_tu.png</string>
	<key>[哈哈]</key>
	<string>d_haha.png</string>
	<key>[哈欠]</key>
	<string>d_dahaqi.png</string>
	<key>[哼]</key>
	<string>d_heng.png</string>
	<key>[喜]</key>
	<string>f_xi.png</string>
	<key>[喵喵]</key>
	<string>d_miao.png</string>
	<key>[嘘]</key>
	<string>d_xu.png</string>
	<key>[嘻嘻]</key>
	<string>d_xixi.png</string>
	<key>[噢耶]</key>
	<string>lxh_oye.png</string>
	<key>[囧]</key>
	<string>f_jiong.png</string>
	<key>[困]</key>
	<string>d_kun.png</string>
	<key>[困死了]</key>
	<string>lxh_kunsile.png</string>
	<key>[围脖]</key>
	<string>o_weibo.png</string>
	<key>[围观]</key>
	<string>o_weiguan.png</string>
	<key>[太开心]</key>
	<string>d_taikaixin.png</string>
	<key>[太阳]</key>
	<string>w_taiyang.png</string>
	<key>[失望]</key>
	<string>d_shiwang.png</string>
	<key>[奥特曼]</key>
	<string>d_aoteman.png</string>
	<key>[女孩儿]</key>
	<string>d_nvhaier.png</string>
	<key>[好喜欢]</key>
	<string>lxh_haoxihuan.png</string>
	<key>[好囧]</key>
	<string>lxh_haojiong.png</string>
	<key>[好棒]</key>
	<string>lxh_haobang.png</string>
	<key>[好爱哦]</key>
	<string>lxh_haoaio.png</string>
	<key>[委屈]</key>
	<string>d_weiqu.png</string>
	<key>[威武]</key>
	<string>f_v5.png</string>
	<key>[害羞]</key>
	<string>d_haixiu.png</string>
	<key>[崩溃]</key>
	<string>lxh_bengkui.png</string>
	<key>[左哼哼]</key>
	<string>d_zuohengheng.png</string>
	<key>[巨汗]</key>
	<string>lxh_juhan.png</string>
	<key>[干杯]</key>
	<string>o_ganbei.png</string>
	<key>[弱]</key>
	<string>h_ruo.png</string>
	<key>[得意地笑]</key>
	<string>lxh_deyidexiao.png</string>
	<key>[微笑]</key>
	<string>d_hehe.png</string>
	<key>[微风]</key>
	<string>w_weifeng.png</string>
	<key>[心]</key>
	<string>l_xin.png</string>
	<key>[怒]</key>
	<string>d_nu.png</string>
	<key>[怒骂]</key>
	<string>d_numa.png</string>
	<key>[思考]</key>
	<string>d_sikao.png</string>
	<key>[悲伤]</key>
	<string>d_beishang.png</string>
	<key>[悲催]</key>
	<string>lxh_beicui.png</string>
	<key>[想一想]</key>
	<string>lxh_xiangyixiang.png</string>
	<key>[感冒]</key>
	<string>d_ganmao.png</string>
	<key>[打脸]</key>
	<string>d_dalian.png</string>
	<key>[抓狂]</key>
	<string>d_zhuakuang.png</string>
	<key>[抠鼻屎]</key>
	<string>lxh_koubishi.png</string>
	<key>[拜拜]</key>
	<string>d_baibai.png</string>
	<key>[拳头]</key>
	<string>h_quantou.png</string>
	<key>[挖鼻]</key>
	<string>d_wabishi.png</string>
	<key>[挤眼]</key>
	<string>d_jiyan.png</string>
	<key>[推荐]</key>
	<string>lxh_tuijian.png</string>
	<key>[握手]</key>
	<string>h_woshou.png</string>
	<key>[晕]</key>
	<string>d_yun.png</string>
	<key>[最右]</key>
	<string>d_zuiyou.png</string>
	<key>[月亮]</key>
	<string>w_yueliang.png</string>
	<key>[有鸭梨]</key>
	<string>lxh_youyali.png</string>
	<key>[来]</key>
	<string>h_lai.png</string>
	<key>[杰克逊]</key>
	<string>lxh_jiekexun.png</string>
	<key>[求关注]</key>
	<string>lxh_qiuguanzhu.png</string>
	<key>[汗]</key>
	<string>d_han.png</string>
	<key>[沙尘暴]</key>
	<string>w_shachenbao.png</string>
	<key>[泪]</key>
	<string>d_lei.png</string>
	<key>[泪流满面]</key>
	<string>lxh_leiliumanmian.png</string>
	<key>[浪]</key>
	<string>d_lang.png</string>
	<key>[浮云]</key>
	<string>w_fuyun.png</string>
	<key>[照相机]</key>
	<string>o_zhaoxiangji.png</string>
	<key>[熊猫]</key>
	<string>d_xiongmao.png</string>
	<key>[爱你]</key>
	<string>d_aini.png</string>
	<key>[猪头]</key>
	<string>d_zhutou.png</string>
	<key>[玫瑰]</key>
	<string>lxh_meigui.png</string>
	<key>[生病]</key>
	<string>d_shengbing.png</string>
	<key>[甩甩手]</key>
	<string>lxh_shuaishuaishou.png</string>
	<key>[男孩儿]</key>
	<string>d_nanhaier.png</string>
	<key>[疑问]</key>
	<string>d_yiwen.png</string>
	<key>[白眼]</key>
	<string>d_landelini.png</string>
	<key>[睡]</key>
	<string>d_shuijiao.png</string>
	<key>[瞧瞧]</key>
	<string>lxh_qiaoqiao.png</string>
	<key>[礼物]</key>
	<string>o_liwu.png</string>
	<key>[神马]</key>
	<string>f_shenma.png</string>
	<key>[笑cry]</key>
	<string>d_xiaoku.png</string>
	<key>[笑哈哈]</key>
	<string>lxh_xiaohaha.png</string>
	<key>[纠结]</key>
	<string>lxh_jiujie.png</string>
	<key>[织]</key>
	<string>f_zhi.png</string>
	<key>[给力]</key>
	<string>f_geili.png</string>
	<key>[给劲]</key>
	<string>lxh_geijin.png</string>
	<key>[绿丝带]</key>
	<string>o_lvsidai.png</string>
	<key>[羞嗒嗒]</key>
	<string>lxh_xiudada.png</string>
	<key>[群体围观]</key>
	<string>lxh_quntiweiguan.png</string>
	<key>[耶]</key>
	<string>h_ye.png</string>
	<key>[肥皂]</key>
	<string>d_feizao.png</string>
	<key>[色]</key>
	<string>d_huaxin.png</string>
	<key>[草泥马]</key>
	<string>d_shenshou.png</string>
	<key>[萌]</key>
	<string>f_meng.png</string>
	<key>[蛋糕]</key>
	<string>o_dangao.png</string>
	<key>[蜡烛]</key>
	<string>o_lazhu.png</string>
	<key>[衰]</key>
	<string>d_shuai.png</string>
	<key>[被电]</key>
	<string>lxh_beidian.png</string>
	<key>[许愿]</key>
	<string>lxh_xuyuan.png</string>
	<key>[话筒]</key>
	<string>o_huatong.png</string>
	<key>[赞]</key>
	<string>h_zan.png</string>
	<key>[赞啊]</key>
	<string>lxh_zana.png</string>
	<key>[躁狂症]</key>
	<string>lxh_zaokuangzheng.png</string>
	<key>[转发]</key>
	<string>lxh_zhuanfa.png</string>
	<key>[鄙视]</key>
	<string>d_bishi.png</string>
	<key>[酷]</key>
	<string>d_ku.png</string>
	<key>[钟]</key>
	<string>o_zhong.png</string>
	<key>[钱]</key>
	<string>d_qian.png</string>
	<key>[闭嘴]</key>
	<string>d_bizui.png</string>
	<key>[阴险]</key>
	<string>d_yinxian.png</string>
	<key>[雷锋]</key>
	<string>lxh_leifeng.png</string>
	<key>[震惊]</key>
	<string>lxh_zhenjing.png</string>
	<key>[霹雳]</key>
	<string>lxh_pili.png</string>
	<key>[音乐]</key>
	<string>o_yinyue.png</string>
	<key>[顶]</key>
	<string>d_ding.png</string>
	<key>[飞机]</key>
	<string>o_feiji.png</string>
	<key>[馋嘴]</key>
	<string>d_chanzui.png</string>
	<key>[鲜花]</key>
	<string>w_xianhua.png</string>
	<key>[黑线]</key>
	<string>d_heixian.png</string>
	<key>[鼓掌]</key>
	<string>d_guzhang.png</string>
</dict>
</plist>
