<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[笑哈哈]</string>
	<string>[好爱哦]</string>
	<string>[噢耶]</string>
	<string>[偷乐]</string>
	<string>[泪流满面]</string>
	<string>[巨汗]</string>
	<string>[抠鼻屎]</string>
	<string>[求关注]</string>
	<string>[好喜欢]</string>
	<string>[崩溃]</string>
	<string>[好囧]</string>
	<string>[震惊]</string>
	<string>[别烦我]</string>
	<string>[不好意思]</string>
	<string>[羞嗒嗒]</string>
	<string>[得意地笑]</string>
	<string>[纠结]</string>
	<string>[给劲]</string>
	<string>[悲催]</string>
	<string>[甩甩手]</string>
	<string>[好棒]</string>
	<string>[瞧瞧]</string>
	<string>[不想上班]</string>
	<string>[困死了]</string>
	<string>[许愿]</string>
	<string>[丘比特]</string>
	<string>[有鸭梨]</string>
	<string>[想一想]</string>
	<string>[躁狂症]</string>
	<string>[转发]</string>
	<string>[互相膜拜]</string>
	<string>[雷锋]</string>
	<string>[杰克逊]</string>
	<string>[玫瑰]</string>
	<string>[hold住]</string>
	<string>[群体围观]</string>
	<string>[推荐]</string>
	<string>[赞啊]</string>
	<string>[被电]</string>
	<string>[霹雳]</string>
</array>
</plist>
